<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/recipes">RecipesApp</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/recipes">Recipes</a>
      </li>
      <li>
        <a routerLink="/ingredients">Ingredients</a>
      </li>
      <li>
        <a routerLink="/meal-planner">Meal planner</a>
      </li>
      <li>
        <a routerLink="/suggest-recipes">Suggest recipes</a>
      </li>
      <li>
        <a routerLink="/find-recipes">Find recipes</a>
      </li>
      <!-- <li>
        <a routerLink="/create-recipe">Create recipe</a>
      </li>
      <li>
        <a routerLink="/create-ingredient">Create ingredient</a>
      </li> -->
      <li>
        <a routerLink="/crud-recipe">Crud recipe</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
