<!-- <mat-card class="card" *ngIf="recipe">
  <mat-card-header>
    <mat-card-title>{{ recipe.name }}</mat-card-title>
    <mat-card-subtitle> {{ recipe.author }} </mat-card-subtitle>
  </mat-card-header>

  <img
    *ngIf="recipe.recipeImage"
    mat-card-image
    [src]="recipe.recipeImage.storageImageUrl"
    alt="Recipe"
  />

  <mat-card-content>
    <p>Meal type: {{ getRecipeMealType() }}</p>
    <p>Serving Time: {{ getRecipeServingTime() }}</p>
    <p>Servings: {{ recipe.servings }}</p>
    <p>Calories: {{ recipe.calories }}</p>
    <p>Fats: {{ recipe.fats }}</p>
    <p>Carbs: {{ recipe.carbs }}</p>
    <p>Proteins: {{ recipe.proteins }}</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="accent" (click)="onClick()">Go to recipe</button>
  </mat-card-actions>
</mat-card> -->

<div class="flip-card">
  <div class="flip-card-inner" (click)="toggleFlip()">
    <div class="flip-card-front" *ngIf="!flipped">
      <img
        *ngIf="recipe.recipeImage"
        mat-card-image
        [src]="recipe.recipeImage.storageImageUrl"
        alt="Recipe"
      />
    </div>

    <div class="flip-card-back" *ngIf="flipped">
      <div class="recipe-details">
        <h1>{{ recipe.name }}</h1>
        <p>{{ getRecipeMealType() }} - {{ getRecipeServingTime() }}</p>
        <p>Servings: {{ recipe.servings }}</p>
        <p>Calories: {{ recipe.calories }}</p>
        <p>Fats: {{ recipe.fats }}</p>
        <p>Carbs: {{ recipe.carbs }}</p>
        <p>Proteins: {{ recipe.proteins }}</p>

        <button mat-flat-button color="accent" (click)="onClick()">
          Go to recipe
        </button>
      </div>
    </div>
  </div>
</div>
