.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin: 5%;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip-card-front {
  background-color: #b2ebf2;
  color: black;
  border-radius: 10px;
}

.flip-card-front img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.flip-card-back {
  background-color: #b2ebf2;
  border-radius: 10px;
}

.recipe-details {
  padding: 3%;
}

@media only screen and (max-width: 300px) {
  .flip-card {
    width: 250px;
    height: 300px;
  }

  .flip-card-front img {
    width: 250px;
    height: 300px;
  }
}
