<div class="flip-card">
  <div class="flip-card-inner" (click)="toggleFlip()">
    <div class="flip-card-front" *ngIf="!flipped">
      <img
        *ngIf="recipe.recipeImage"
        mat-card-image
        [src]="recipe.recipeImage.storageImageUrl"
        alt="Recipe"
      />
    </div>

    <div class="flip-card-back" *ngIf="flipped">
      <div class="recipe-details">
        <h1>{{ recipe.name }}</h1>
        <p>{{ getRecipeMealType() }} - {{ getRecipeServingTime() }}</p>
        <p>Servings: {{ recipe.servings }}</p>
        <p>Calories: {{ recipe.calories }} kCal</p>
        <p>Fats: {{ recipe.fats }} g</p>
        <p>Carbs: {{ recipe.carbs }} g</p>
        <p>Proteins: {{ recipe.proteins }} g</p>

        <button mat-flat-button color="accent" (click)="onClick()">
          Go to recipe
        </button>
      </div>
    </div>
  </div>
</div>
