<section class="operations" fxLayoutAlign="center">
  <section fxLayout="column">
    <h1>Choose an operation</h1>
    <p>
      <button mat-raised-button color="primary" (click)="onCreate()">
        Create ingredient
      </button>
    </p>
    <p>
      <button mat-raised-button color="accent" (click)="onGet()">
        Get ingredient
      </button>
    </p>
    <!-- <p>
      <button mat-raised-button color="primary" (click)="onUpdate()">
        Update ingredient
      </button>
    </p>
    <p>
      <button mat-raised-button color="accent" (click)="onDelete()">
        Delete ingredient
      </button>
    </p> -->
  </section>
</section>
