.form-group {
  width: 100%;
}

button {
  width: 50%;
  margin: 1%;
}

.recipe-ingredients {
  margin-top: 2%;
}

@media only screen and (max-width: 750px) {
  button {
    width: 100%;
  }

  .recipe-ingredients {
    margin-top: 5%;
  }
}
