<app-create-recipe-ingredient
  (recipeIngredientEvent)="addRecipeIngredient($event)"
></app-create-recipe-ingredient>

<p>
  <button mat-raised-button color="primary" (click)="createList()">
    Create list
  </button>
  <button mat-raised-button color="primary" (click)="clearList()">
    Clear list
  </button>
</p>

<section *ngIf="recipeIngredientList.length > 0">
  <h1>Ingredient list</h1>
  <div *ngFor="let recipeIngredient of recipeIngredientList">
    <p>{{ recipeIngredient.quantity }}</p>
  </div>
</section>
