.image-container {
  text-align: center;
  background: url("src/assets/background_image.jpg");
  background-size: cover;
  background-position: 70% 70%;
  background-attachment: fixed;
  height: 55vh;
}

.features {
  margin: 2% 0% 4% 0%;
}

.features-message {
  margin-top: 2%;
}

h1 {
  font-size: 5vh;
}
