.form {
  background: url("src/assets/form-background.jpg") no-repeat scroll left center;
}

.form-group {
  background-color: white;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  width: 35%;
}

.form-control {
  width: 100%;
}

button {
  margin: 1%;
}
