<section class="form-content">
  <section fxLayoutAlign="center">
    <form
      [formGroup]="suggestRecipesForm"
      (ngSubmit)="onSubmit()"
      class="form-group"
    >
      <p>
        <mat-form-field class="form-control" appearance="outline">
          <mat-label>Ingredient name</mat-label>
          <input
            formControlName="ingredientName"
            matInput
            placeholder="Ingredient name"
          />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="form-control" appearance="outline">
          <mat-label>Ingredient quantity</mat-label>
          <input
            formControlName="ingredientQuantity"
            matInput
            placeholder="Ingredient quantity"
          />
          <mat-hint>Maximum two decimal places!</mat-hint>
        </mat-form-field>
      </p>

      <section
        class="response-section"
        fxLayoutAlign="center"
        *ngIf="responseMessage.length > 0"
      >
        <h1>
          {{ responseMessage }}
        </h1>
      </section>

      <section fxLayout="row" fxLayout.xs="column">
        <button
          mat-raised-button
          color="accent"
          [disabled]="!suggestRecipesForm.valid"
          type="submit"
        >
          Suggest
        </button>

        <button
          mat-raised-button
          [disabled]="!suggested"
          (click)="navigateToFragment()"
        >
          Go to recipes
        </button>
      </section>
    </form>
  </section>
</section>

<section
  class="suggested-recipes"
  id="suggestedRecipes"
  *ngIf="suggestedRecipes"
>
  <h1 fxLayoutAlign="center">Suggested recipes</h1>

  <div infinite-scroll (scrolled)="onScroll()">
    <app-recipes-list [recipes]="suggestedRecipes"></app-recipes-list>

    <section
      class="response-section"
      fxLayoutAlign="center"
      *ngIf="recipesResponseMessage.length > 0"
    >
      <h1>
        {{ recipesResponseMessage }}
      </h1>
    </section>
  </div>
</section>
