<app-search-ingredient-for-list
  (ingredientEvent)="addIngredient($event)"
></app-search-ingredient-for-list>

<section class="ingredients" *ngIf="ingredientList.length > 0">
  <div *ngFor="let ingredient of ingredientList">
    <app-ingredient-from-list-card
      fxLayoutAlign="center"
      [ingredient]="ingredient"
    ></app-ingredient-from-list-card>
  </div>

  <section fxLayout="row" fxLayout.xs="column">
    <button mat-raised-button color="accent" (click)="createList()">
      Create list
    </button>

    <button mat-raised-button color="accent" (click)="clearList()">
      Clear list
    </button>
  </section>
</section>
