<mat-card class="card" *ngIf="recipeIngredient" (click)="onClick()">
  <mat-card-title-group>
    <mat-card-title>{{ recipeIngredient.ingredient.name }}</mat-card-title>
    <mat-card-subtitle>{{ getIngredientCategory() }}</mat-card-subtitle>
    <img
      *ngIf="recipeIngredient.ingredient.ingredientImage"
      mat-card-sm-image
      [src]="recipeIngredient.ingredient.ingredientImage.storageImageUrl"
      alt="Ingredient"
    />
  </mat-card-title-group>

  <mat-card-content> {{ recipeIngredient.quantity }} g </mat-card-content>
</mat-card>
