<form
  [formGroup]="updateIngredientForm"
  (ngSubmit)="onSubmit()"
  class="form-group"
>
  <mat-form-field class="form-control" appearance="outline">
    <mat-label>Ingredient name</mat-label>
    <input formControlName="name" matInput placeholder="Ingredient name" />
  </mat-form-field>

  <button
    mat-raised-button
    color="accent"
    [disabled]="!updateIngredientForm.valid"
  >
    Update
  </button>

  <section class="response-section" *ngIf="responseMessage.length > 0">
    <p>
      {{ responseMessage }}
    </p>
  </section>
</form>
