<section class="operations" fxLayoutAlign="center">
  <section fxLayout="column">
    <h1>Choose an operation</h1>
    <p>
      <button mat-raised-button color="primary" (click)="onCreate()">
        Create recipe
      </button>
    </p>
    <p>
      <button mat-raised-button color="accent" (click)="onGet()">
        Get recipe
      </button>
    </p>
    <p>
      <button mat-raised-button color="primary" (click)="onUpdate()">
        Update recipe
      </button>
    </p>
    <p>
      <button mat-raised-button color="accent" (click)="onDelete()">
        Delete recipe
      </button>
    </p>
  </section>
</section>
