<div class="flip-card">
  <div class="flip-card-inner" (click)="toggleFlip()">
    <div class="flip-card-front" *ngIf="!flipped">
      <img
        *ngIf="ingredient.ingredientImage"
        mat-card-image
        [src]="ingredient.ingredientImage.storageImageUrl"
        alt="Ingredient"
      />
    </div>

    <div class="flip-card-back" *ngIf="flipped">
      <div class="ingredient-details">
        <h1>{{ ingredient.name }}</h1>
        <p>Category: {{ getIngredientCategory() }}</p>
        <p>Calories: {{ ingredient.calories }} kCal</p>
        <p>Fats: {{ ingredient.fats }} g</p>
        <p>Carbs: {{ ingredient.carbs }} g</p>
        <p>Proteins: {{ ingredient.proteins }} g</p>

        <button mat-flat-button color="accent" (click)="onClick()">
          Go to ingredient
        </button>
      </div>
    </div>
  </div>
</div>
