<!-- Ingredients -->

<!-- <app-all-ingredients-page></app-all-ingredients-page> -->
<!-- <app-approved-ingredients-page></app-approved-ingredients-page> -->
<!-- <app-unapproved-ingredients-page></app-unapproved-ingredients-page> -->
<!-- <app-ingredient-details-page></app-ingredient-details-page> -->

<!-- Recipes -->

<!-- <app-all-recipes-page></app-all-recipes-page> -->
<!-- <app-approved-recipes-page></app-approved-recipes-page> -->
<!-- <app-unapproved-recipes-page></app-unapproved-recipes-page> -->
<!-- <app-recipe-details-page></app-recipe-details-page> -->

<!-- Suggest Recipes -->
<!-- <app-suggested-recipes-page></app-suggested-recipes-page> -->

<!-- Find Recipes -->
<!-- <app-found-recipes-page></app-found-recipes-page> -->

<!-- Meal Planner -->
<!-- <app-meal-planner-page></app-meal-planner-page> -->
