.content {
  background-color: white;
  padding: 2%;
  min-height: 94vh;
}

.ingredient-image {
  width: 50%;
  height: 60vh;
  border-radius: 10px;
}

.ingredient-details {
  width: 50%;
  padding: 2%;
  margin-top: 2%;
  border-radius: 10px;
  background-color: #b2ebf2;
}

.approved-status {
  color: #e91e63;
  font-style: italic;
}

.response-section {
  background-color: white;
  min-height: 94vh;
}

@media only screen and (max-width: 1000px) {
  .ingredient-image {
    width: 100%;
  }

  .ingredient-details {
    width: 100%;
    padding: 5%;
  }
}
