<section class="content" *ngIf="ingredient">
  <div *ngIf="ingredient.ingredientImage?.storageImageUrl">
    <img
      *ngIf="ingredient.ingredientImage"
      [src]="ingredient.ingredientImage.storageImageUrl"
      alt="Ingredient"
      class="ingredient-image"
    />
  </div>

  <section class="ingredient-details">
    <h3>{{ ingredient.name }}</h3>
    <p>Category: {{ getIngredientCategory() }}</p>
    <p>Calories: {{ ingredient.calories }}</p>
    <p>Fats: {{ ingredient.fats }}</p>
    <p>Carbs: {{ ingredient.carbs }}</p>
    <p>Proteins: {{ ingredient.proteins }}</p>
  </section>
</section>
