<section class="content" *ngIf="ingredient">
  <section fxLayoutAlign="center">
    <img
      *ngIf="ingredient.ingredientImage"
      [src]="ingredient.ingredientImage.storageImageUrl"
      alt="Ingredient"
      class="ingredient-image"
    />
  </section>

  <section fxLayoutAlign="center">
    <section class="ingredient-details">
      <section fxLayout="column">
        <h1>{{ ingredient.name }}</h1>
        <p>Category: {{ getIngredientCategory() }}</p>
        <p>Calories: {{ ingredient.calories }}</p>
        <p>Fats: {{ ingredient.fats }}</p>
        <p>Carbs: {{ ingredient.carbs }}</p>
        <p>Proteins: {{ ingredient.proteins }}</p>
      </section>
    </section>
  </section>
</section>

<section
  class="response-section"
  fxLayoutAlign="center"
  *ngIf="responseMessage.length > 0"
>
  <h1>
    {{ responseMessage }}
  </h1>
</section>
