<section class="form-content">
  <section fxLayoutAlign="center">
    <form
      [formGroup]="deleteIngredientForm"
      (ngSubmit)="onSubmit()"
      class="form-group"
    >
      <mat-form-field class="form-control" appearance="outline">
        <mat-label>Ingredient name</mat-label>
        <input formControlName="name" matInput placeholder="Ingredient name" />
      </mat-form-field>

      <section fxLayoutAlign="center">
        <button
          mat-raised-button
          color="accent"
          [disabled]="!deleteIngredientForm.valid"
        >
          Delete
        </button>
      </section>

      <!-- <section
        class="response-section"
        fxLayoutAlign="center"
        *ngIf="responseMessage.length > 0"
      >
        <h1>
          {{ responseMessage }}
        </h1>
      </section> -->
    </form>
  </section>
</section>
