.container {
  text-align: center;
  background: url("src/assets/form-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 70vh;
}

h1 {
  font-size: 5vh;
}
