.container {
  text-align: center;
  background: url("src/assets/form-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 70vh;
}

h1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vh;
}
