<mat-card class="card" *ngIf="recipe">
  <mat-card-title-group>
    <mat-card-title>{{ recipe.name }} - {{ recipe.author }}</mat-card-title>
    <mat-card-subtitle
      >{{ getRecipeMealType() }} -
      {{ getRecipeServingTime() }}</mat-card-subtitle
    >
    <img
      *ngIf="recipe.recipeImage"
      mat-card-sm-image
      [src]="recipe.recipeImage.storageImageUrl"
      alt="Recipe"
    />
  </mat-card-title-group>
  <button mat-flat-button color="accent" (click)="onClick()">
    Go to recipe
  </button>
</mat-card>
