<section class="content" *ngIf="recipe">
  <section fxLayoutAlign="center">
    <img
      *ngIf="recipe.recipeImage"
      [src]="recipe.recipeImage.storageImageUrl"
      alt="Recipe"
      class="recipe-image"
    />
  </section>

  <section fxLayoutAlign="center">
    <section class="recipe-details">
      <h1 class="title">{{ recipe.name }}</h1>
      <h2>{{ recipe.author }}</h2>
      <p>Meal type: {{ getRecipeMealType() }}</p>
      <p>Serving Time: {{ getRecipeServingTime() }}</p>
      <p>Servings: {{ recipe.servings }}</p>
      <p>Calories: {{ recipe.calories }}</p>
      <p>Fats: {{ recipe.fats }}</p>
      <p>Carbs: {{ recipe.carbs }}</p>
      <p>Proteins: {{ recipe.proteins }}</p>

      <app-recipe-ingredients-list
        [recipeIngredients]="recipe.recipeIngredients"
      ></app-recipe-ingredients-list>

      <p>{{ recipe.description }}</p>
    </section>
  </section>
</section>

<section
  class="response-section"
  fxLayoutAlign="center"
  *ngIf="responseMessage.length > 0"
>
  <h1>
    {{ responseMessage }}
  </h1>
</section>
