<section class="content">
  <img
    [src]="recipe.recipeImage.storageImageUrl"
    alt="Recipe"
    class="recipe-image"
  />

  <section class="recipe-details">
    <h1>{{ recipe.name }}</h1>
    <h2>{{ recipe.author }}</h2>
    <p>Meal type: {{ recipe.mealType }}</p>
    <p>Serving Time: {{ recipe.servingTime }}</p>
    <p>Calories: {{ recipe.calories }}</p>
    <p>Fats: {{ recipe.fats }}</p>
    <p>Carbs: {{ recipe.carbs }}</p>
    <p>Proteins: {{ recipe.proteins }}</p>

    <section>
      <h3>Recipe ingredients</h3>
      <ul *ngFor="let recIng of recipe.recipeIngredients">
        <li>
          Ingredient id: {{ recIng.ingredientId }} Quantity:
          {{ recIng.quantity }}
        </li>
      </ul>
    </section>

    <p>{{ recipe.description }}</p>
  </section>
</section>
