.content {
  background-color: white;
  padding: 2%;
}

h1,
h2,
h3 {
  color: #0d0d0d;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: medium;
}

p {
  color: #2a2a2a;
}

.recipe-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 60vh;
  border-radius: 10px;
}

.recipe-details {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  padding: 2%;
  margin-top: 2%;
  background-color: #daddf1;
}
