<section class="form-content">
  <section fxLayoutAlign="center">
    <form
      [formGroup]="approveRecipeForm"
      (ngSubmit)="onSubmit()"
      class="form-group"
    >
      <p>
        <mat-form-field class="form-control" appearance="outline">
          <mat-label>Recipe name</mat-label>
          <input formControlName="name" matInput placeholder="Recipe name" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="form-control" appearance="outline">
          <mat-label>Recipe author</mat-label>
          <input
            formControlName="author"
            matInput
            placeholder="Recipe author"
          />
        </mat-form-field>
      </p>

      <button
        mat-raised-button
        color="accent"
        [disabled]="!approveRecipeForm.valid"
      >
        Approve
      </button>

      <section class="response-section" *ngIf="responseMessage.length > 0">
        <p>
          {{ responseMessage }}
        </p>
      </section>
    </form>
  </section>
</section>

<div infinite-scroll (scrolled)="onScroll()" class="recipes">
  <app-recipes-list-admin
    [recipes]="unapprovedRecipes"
  ></app-recipes-list-admin>

  <section
    class="response-section"
    fxLayoutAlign="center"
    *ngIf="recipesResponseMessage.length > 0"
  >
    <h1>
      {{ recipesResponseMessage }}
    </h1>
  </section>
</div>
