<section class="form-content">
  <section fxLayoutAlign="center">
    <form
      [formGroup]="generateMealPlanForm"
      (ngSubmit)="onSubmit()"
      class="form-group"
    >
      <p>
        <mat-form-field class="form-control" appearance="outline">
          <mat-label>Meal type</mat-label>
          <mat-select formControlName="mealType">
            <mat-option value="Normal">Normal</mat-option>
            <mat-option value="Vegetarian">Vegetarian</mat-option>
            <mat-option value="Vegan">Vegan</mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field
          class="form-control calories-field"
          appearance="outline"
        >
          <mat-label>Calories</mat-label>
          <input formControlName="calories" matInput placeholder="Calories" />
          <mat-hint>
            Between 1000 and 5000 with maximum two decimal places!
          </mat-hint>
        </mat-form-field>
      </p>

      <section fxLayout="row" fxLayout.xs="column">
        <button
          mat-raised-button
          color="accent"
          [disabled]="!generateMealPlanForm.valid"
          type="submit"
        >
          Generate
        </button>

        <button
          (click)="navigateToFragment($event)"
          mat-raised-button
          [disabled]="!generated"
        >
          Go to meal plan
        </button>
      </section>

      <section
        class="response-section"
        fxLayoutAlign="center"
        *ngIf="responseMessage.length > 0"
      >
        <h1>
          {{ responseMessage }}
        </h1>
      </section>
    </form>
  </section>
</section>

<section class="meal-plan" id="mealPlan" *ngIf="mealPlan">
  <app-meal-plan-details [mealPlan]="mealPlan"></app-meal-plan-details>
</section>
