.form {
  background: url("src/assets/form-background.jpg") no-repeat scroll left center;
}

.form-group {
  /* background-color: #daddf1; */
  /* border-radius: 15px; */
  background-color: white;
  padding: 3%;
  height: 100vh;
}

.form-control {
  width: 35%;
}

button {
  margin: 1%;
}
