<app-search-ingredient
  (ingredientEvent)="addIngredient($event)"
></app-search-ingredient>

<section *ngIf="ingredientList.length > 0">
  <h1>Ingredient list</h1>
  <div *ngFor="let ingredient of ingredientList">
    <app-ingredient-search-card
      [ingredient]="ingredient"
    ></app-ingredient-search-card>
  </div>
</section>

<p>
  <button mat-raised-button color="primary" (click)="createList()">
    Create list
  </button>
  <button mat-raised-button color="primary" (click)="clearList()">
    Clear list
  </button>
</p>
