<section class="content" *ngIf="mealPlan">
  <section fxLayoutAlign="center">
    <section
      class="recipe-cards"
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutGap="15px"
    >
      <app-recipe-details-card
        [recipe]="mealPlan.breakfast"
      ></app-recipe-details-card>

      <app-recipe-details-card
        [recipe]="mealPlan.lunch"
      ></app-recipe-details-card>

      <app-recipe-details-card
        [recipe]="mealPlan.dinner"
      ></app-recipe-details-card>
    </section>
  </section>

  <section fxLayoutAlign="center">
    <section class="meal-plan-details">
      <p>Calories: {{ mealPlan.calories }}</p>
      <p>Fats: {{ mealPlan.fats }}</p>
      <p>Carbs: {{ mealPlan.carbs }}</p>
      <p>Proteins: {{ mealPlan.proteins }}</p>
    </section>
  </section>
</section>
