<section class="content" *ngIf="mealPlan">
  <section
    fxLayout="row wrap"
    fxLayout.lt-sm="column"
    fxLayoutGap="15px"
    fxLayoutAlign="center"
  >
    <section>
      <app-recipe-details-card
        fxLayoutAlign.lt-sm="center"
        [recipe]="mealPlan.breakfast"
      ></app-recipe-details-card>
    </section>

    <app-recipe-details-card
      fxLayoutAlign.lt-sm="center"
      [recipe]="mealPlan.lunch"
    ></app-recipe-details-card>

    <app-recipe-details-card
      fxLayoutAlign.lt-sm="center"
      [recipe]="mealPlan.dinner"
    ></app-recipe-details-card>
  </section>

  <section fxLayoutAlign="center">
    <section class="meal-plan-details">
      <p>Calories: {{ mealPlan.calories }}</p>
      <p>Fats: {{ mealPlan.fats }}</p>
      <p>Carbs: {{ mealPlan.carbs }}</p>
      <p>Proteins: {{ mealPlan.proteins }}</p>
    </section>
  </section>
</section>
