@import "~normalize.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: white;
}

* {
  font-size: 2.2vh;
}

.snackbar.mat-snack-bar-container {
  background-color: white;
  color: #00acc1;
}
