@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat&family=Roboto&display=swap");

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: white;
}

* {
  font-size: 2.2vh;
}
