<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="form-group">
  <p>
    <mat-form-field class="form-control" appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Ingredient name" />
      <mat-hint>Ingredient name</mat-hint>
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      [disabled]="!searchForm.valid"
      type="submit"
    >
      Search
    </button>
  </p>
</form>

<div *ngIf="ingredient">
  <section>
    <h3>Recipe ingredients</h3>
    <ul *ngFor="let recIng of ingredient.recipeIngredients">
      <li>Ingredient name: {{ recIng.id }} Quantity:{{ recIng.quantity }}</li>
    </ul>
  </section>
</div>
