<section class="content">
  <app-create-ingredient-list
    (ingredientIdListEvent)="setIngredientIds($event)"
  ></app-create-ingredient-list>

  <button
    [disabled]="ingredientIds.length == 0"
    mat-raised-button
    color="accent"
    (click)="findRecipes()"
  >
    Find recipes
  </button>

  <section class="response-section" *ngIf="responseMessage.length > 0">
    <p>
      {{ responseMessage }}
    </p>
  </section>
</section>

<section *ngIf="foundRecipes">
  <h1>Found recipes</h1>
  <app-recipes-list [recipes]="foundRecipes"></app-recipes-list>
</section>
